node_flow.json
[{"id":"d22e7b71.8bbfd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"41ec3cd3.b93c34","type":"ibmiot in","z":"d22e7b71.8bbfd8","authentication":"apiKey","apiKey":"2bb90633.dc98ba","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"Signboard","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":140,"wires":[["9b621101.558c6","563feb9e.3b85a4"]]},{"id":"b81c342d.d7b3b8","type":"ibmiot out","z":"d22e7b71.8bbfd8","authentication":"apiKey","apiKey":"2bb90633.dc98ba","outputType":"cmd","deviceId":"12345","deviceType":"Signboard","eventCommandType":"home","format":"json","data":"data","qos":"1","name":"IBM IoT","service":"registered","x":880,"y":400,"wires":[]},{"id":"43623e74.2e38d","type":"ui_text","z":"d22e7b71.8bbfd8","group":"10fcd844.957508","order":1,"width":10,"height":1,"name":"Slot 1","label":"Slot 1","format":"{{msg.payload}}","layout":"row-center","x":510,"y":180,"wires":[]},{"id":"e2cf46d8.b235e8","type":"ui_gauge","z":"d22e7b71.8bbfd8","name":"","group":"10fcd844.957508","order":3,"width":10,"height":6,"gtype":"gage","title":"Available Parking Slots","label":"slots","format":"{{value}}","min":0,"max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":260,"wires":[]},{"id":"d6d94952.9d4d28","type":"ui_text","z":"d22e7b71.8bbfd8","group":"10fcd844.957508","order":2,"width":10,"height":1,"name":"Slot 2","label":"Slot 2","format":"{{msg.payload}}","layout":"row-center","x":510,"y":220,"wires":[]},{"id":"72b78c0f.d27294","type":"ui_button","z":"d22e7b71.8bbfd8","name":"","group":"38e888b0.95c138","order":1,"width":6,"height":1,"passthru":false,"label":"Slot 1 BOOK","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"{\"b1\":2}","payloadType":"json","topic":"topic","x":510,"y":320,"wires":[["b2ac2e7a.0ad7e"]]},{"id":"c1ed7301.637de","type":"ui_button","z":"d22e7b71.8bbfd8","name":"","group":"38e888b0.95c138","order":3,"width":6,"height":1,"passthru":false,"label":"Slot 2 BOOK","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"{\"b2\":2}","payloadType":"json","topic":"topic","x":510,"y":400,"wires":[["30b2e7d4.007708"]]},{"id":"265f7b5f.ed7614","type":"ui_button","z":"d22e7b71.8bbfd8","name":"","group":"38e888b0.95c138","order":2,"width":6,"height":1,"passthru":false,"label":"Slot 1 CANCEL","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"{\"b1\":0}","payloadType":"json","topic":"topic","x":520,"y":360,"wires":[["b2ac2e7a.0ad7e"]]},{"id":"c48465fd.37ca18","type":"ui_button","z":"d22e7b71.8bbfd8","name":"","group":"38e888b0.95c138","order":4,"width":6,"height":1,"passthru":false,"label":"Slot 2 CANCEL","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"{\"b2\":0}","payloadType":"json","topic":"topic","x":520,"y":440,"wires":[["30b2e7d4.007708"]]},{"id":"9b621101.558c6","type":"debug","z":"d22e7b71.8bbfd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":120,"wires":[]},{"id":"563feb9e.3b85a4","type":"function","z":"d22e7b71.8bbfd8","name":"global","func":"global.set('s1',msg.payload.s1)\nglobal.set('s2',msg.payload.s2)\nglobal.set('c',msg.payload.c)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":180,"wires":[["fbaeb3d2.40ee5","6a066aa9.669f74","dfdc173a.0ae1a8"]]},{"id":"fbaeb3d2.40ee5","type":"function","z":"d22e7b71.8bbfd8","name":"Slot 1","func":"var s = global.get('s1')\nvar b = global.get('b1')\nif(b==2){\n    msg.payload = \"BOOKED\"\n    global.set('p1',1)\n}\nelse{\n    if(s==0){\n        msg.payload = \"AVAILABLE\"\n        global.set('p1',0)\n    }\n    else if(s==1){\n        msg.payload = \"CAR IS PARKED\"\n        global.set('p1',1)\n    }     \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":180,"wires":[["43623e74.2e38d"]]},{"id":"6a066aa9.669f74","type":"function","z":"d22e7b71.8bbfd8","name":"Slot 2","func":"var s = global.get('s2')\nvar b = global.get('b2')\n\nif(b==2){\n    msg.payload = \"BOOKED\"\n    global.set('p2',1)\n}\nelse{\n    if(s==0){\n        msg.payload = \"AVAILABLE\"\n        global.set('p2',0)\n    }\n    else if(s==1){\n        msg.payload = \"CAR IS PARKED\"\n        global.set('p2',1)\n    }     \n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":220,"wires":[["d6d94952.9d4d28"]]},{"id":"dfdc173a.0ae1a8","type":"function","z":"d22e7b71.8bbfd8","name":"Count","func":"msg.payload = global.get('c')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":260,"wires":[["e2cf46d8.b235e8"]]},{"id":"7693b083.f476a","type":"function","z":"d22e7b71.8bbfd8","name":"","func":"var s = global.get('s1')\nvar b = global.get('b1')\nif(s==1){\n    msg.enabled = false\n}\nelse{\n    msg.enabled = true\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":320,"wires":[["72b78c0f.d27294"]]},{"id":"9ce2dadd.4d41d8","type":"function","z":"d22e7b71.8bbfd8","name":"","func":"var b = global.get('b1')\nif(b==2){\n    msg.enabled = true\n}\nelse{\n    msg.enabled = false\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":360,"wires":[["265f7b5f.ed7614"]]},{"id":"dfeed2b1.576d3","type":"function","z":"d22e7b71.8bbfd8","name":"","func":"var s = global.get('s2')\nif(s==1){\n    msg.enabled = false\n}\nelse{\n    msg.enabled = true\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":400,"wires":[["c1ed7301.637de"]]},{"id":"70d95769.cf2aa8","type":"function","z":"d22e7b71.8bbfd8","name":"","func":"var b = global.get('b2')\nif(b==2){\n    msg.enabled = true\n}\nelse{\n    msg.enabled = false\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":440,"wires":[["c48465fd.37ca18"]]},{"id":"b2ac2e7a.0ad7e","type":"function","z":"d22e7b71.8bbfd8","name":"","func":"var b1 = msg.payload.b1\nglobal.set('b1',b1)\nvar p1 = global.get('p1')\nvar p2 = global.get('p2')\nvar c = global.get('c')\nif(c>0 && c<2){\n    if(b1==2){\n        c = c-1\n        msg.payload = {'s1':1,'s2':p2,'c':c}\n    }\n    else if(b1==0){\n        c = c+1\n        msg.payload = {'s1':0,'s2':p2,'c':c}\n    }\n}\nelse if(c==0){\n    if(b1==0){\n        c = c+1\n        msg.payload = {'s1':0,'s2':p2,'c':c}\n    }\n}\nelse if(c==2){\n    if(b1==2){\n        c = c-1\n        msg.payload = {'s1':1,'s2':p2,'c':c}\n    }\n}\nelse{\n    msg.payload = \"t\"\n}\nglobal.set('c',c)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":320,"wires":[["4fc3abbf.18e644","b81c342d.d7b3b8","bc9d4965.67a458"]]},{"id":"30b2e7d4.007708","type":"function","z":"d22e7b71.8bbfd8","name":"","func":"var b2 = msg.payload.b2\nglobal.set('b2',b2)\nvar p1 = global.get('p1')\nvar p2 = global.get('p2')\nvar c = global.get('c')\nif(c>0 && c<2){\n    if(b2==2){\n        c = c-1\n        msg.payload = {'s1':p1,'s2':1,'c':c}\n    }\n    else if(b2==0){\n        c = c+1\n        msg.payload = {'s1':p1,'s2':0,'c':c}\n    }\n}\nelse if(c==0){\n    if(b2==0){\n        c = c+1\n        msg.payload = {'s1':p1,'s2':0,'c':c}\n    }\n}\nelse if(c==2){\n    if(b2==2){\n        c = c-1\n        msg.payload = {'s1':p1,'s2':1,'c':c}\n    }\n}\nglobal.set('c',c)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":400,"wires":[["4fc3abbf.18e644","b81c342d.d7b3b8","bc9d4965.67a458"]]},{"id":"e68d6851.f7fa98","type":"inject","z":"d22e7b71.8bbfd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":320,"wires":[["7693b083.f476a","9ce2dadd.4d41d8","dfeed2b1.576d3","70d95769.cf2aa8"]]},{"id":"ce2c9531.0a0128","type":"link in","z":"d22e7b71.8bbfd8","name":"","links":["4fc3abbf.18e644"],"x":135,"y":220,"wires":[["563feb9e.3b85a4"]]},{"id":"4fc3abbf.18e644","type":"link out","z":"d22e7b71.8bbfd8","name":"","links":["ce2c9531.0a0128"],"x":855,"y":360,"wires":[]},{"id":"bc9d4965.67a458","type":"debug","z":"d22e7b71.8bbfd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":320,"wires":[]},{"id":"2bb90633.dc98ba","type":"ibmiot","name":"API Key","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"10fcd844.957508","type":"ui_group","name":"Data","tab":"aacd7ce2.5e6fe","order":1,"disp":true,"width":10,"collapse":false},{"id":"38e888b0.95c138","type":"ui_group","name":"Booking","tab":"aacd7ce2.5e6fe","order":2,"disp":true,"width":12,"collapse":false},{"id":"aacd7ce2.5e6fe","type":"ui_tab","name":"Smart Parking System","icon":"dashboard","disabled":false,"hidden":false}]